{% extends "layout.twig" %}
{% block content %}
<h2>Vacatures</h2>
<div class="list">
  {% for v in vacancies %}
    <article class="card">
      <h3>{{ v.title }}</h3>
      <p>{{ v.summary }}</p>
      <a href="/?page=vacancy&id={{ v.id }}" class="btn">Bekijk</a>
    </article>
  {% else %}
    <p>Geen vacatures beschikbaar.</p>
  {% endfor %}
</div>
{% endblock %}
